body{

background-color:white;
font-family: 'Playfair Display', serif;
}


/*Class Container Frame 6-7*/
.container-frame{
  color:white;
  background-color: rgb(36, 33, 33);
  border-color: red solid 6px;
  border-radius: 7px;
  box-shadow:  2px 2px rgb(131, 130, 127);
}



/*Tittle from frame 6*/
.h2{
  font-size: 50px;
  text-align: center;
  padding:45px ;
  color:whitesmoke;
}

/*container for the fame 6 display(right and left) */
.container-menu{
    display: flex;
    flex-wrap: wrap;
    color:black;
    background-color:#e7e6e4;
    justify-content: space-around;
    border: rgb(241, 217, 94) solid 2px;
    box-shadow: 2px 2PX 4px 4px rgb(234, 189, 111);
    border-radius: 7px;
    margin: 30px;
    padding:20px;  
    align-items: flex-end;

}

/*button container for aligment*/
.btn-container{
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  margin: 30px;
  padding: 20px;
  align-items: flex-end;

}



.container-recipe {

  /* border: green solid 4px; */
  
  border-radius: 7px;
  margin: 30px;
  padding: 20px;
  

}


.recipe-tittle{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
} 

.recipe-ing-list{
 justify-items: right ;
 
  
}

.recipe-inst{

  padding-top: 25px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}

/* IMG size*/
.recipe-img{
  height: 375px;
  width: 300px;

}

/*Text inside dropdowns */

.text-dropdowns{
color:black;
font-family: 'Times New Roman', Times, serif;  
font-size: 20px;
width: 170px;
height: 35px;

}


.text-instructions{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 200;
   
}
/*fontsize for the meal recipe*/
.font-content{
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}

/*fontsize for the cocktail recipe*/
.font-instructionsDrink {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#pinned-recipes-page {
  min-height: 65vh;
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}

#container-recipe {
  font-family: 'Playfair Display', serif;
}

#saved-ingredients-list {
  font-family: 'Oswald', sans-serif;
}

#saved-recipe-text {
  font-family: 'Oswald', sans-serif;
}

/*Classes for the footer tag*/
.footer {
  
  padding-top: 50px;
  padding-bottom: 20px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

