body{

  background-color:white;
font-family: 'Playfair Display', serif;
}


/*Class Container Frame 6-7*/
.container-frame{
  color:white;
  background-color: rgb(36, 33, 33);
  border-color: red solid 6px;
  border-radius: 7px;
  box-shadow:  2px 2px rgb(131, 130, 127);
  
  
}

/* Class container Border frame 8-9*/




/*Tittle from frame 6*/
.h2{
  font-size: 50px;
  text-align: center;
  padding:45px ;
  color:whitesmoke;
}

.container-menu{
    display: flex;
    flex-wrap: wrap;
    color:black;
    background-color:#e7e5e4;
    justify-content: space-around;
    border: blue solid 2px;
    border-radius: 7px;
    margin: 30px;
    padding:20px;  
    align-items: flex-end;

}



.btn-container{
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  margin: 30px;
  padding: 20px;
  align-items: flex-end;

}

.btn{
  margin: 0px;
   display: flex;
  justify-content: center;
  align-items: center;

}




.container-recipe {

  /* border: green solid 4px; */
  
  border-radius: 7px;
  margin: 30px;
  padding: 20px;
  

}



.recipe-tittle{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
} 

.recipe-ing-list{
 justify-items: right ;
 
  
}

.recipe-inst{

  padding-top: 25px;
  text-align: justify;

}


.recipe-img{

 
  height: 300px;
  width: 300px;
  

}

.recipe-glass{
  padding: 25px;
  text-align: justify;

}

/*Text inside dropdowns */

.text-dropdowns{

color:black;
font-family: 'Times New Roman', Times, serif;  
font-size: 20px;
width: 170px;
height: 35px;

}