.container{

  border: red solid 7px;
  border-radius: 7px;
  
  
}

.h2{

  font-size: 30px;
  text-align: center;
  padding-top:15px ;
}

.container-menu{

    border: green solid 4px;
    margin: 30px;;  

}